body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.juego{

    margin: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-width: 45%;
    max-height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.juego img{

    max-width: 45%;
    max-height: 45%;
}

.header{
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 2px 2px;
    background-color: rgb(25, 117, 255);
    
}

.header h1 {
    text-align: center;
    color: white;
}





.footer{
    height: 80px;
    min-width: 100%;
    border-top: 2px solid #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 20px 20px 20px 20px;
    background-color: rgb(25, 117, 255);
    color: white;
    font-size: 1.4rem;
}





.navigation{
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navigation ul li a{
    color: white;
    font-size: 2rem;
    text-decoration: none;
}
